# ASSIGNEMENT 1

# Name: Madhan Kumar S

# Reg. no. 20BEC1112

# College: Vellore Institute of Technology

# Campus: Chennai

# Course: Artificial Intelligence,  SmartBridge Externship



# Task 1

In [ ]:
import pandas as pd
import numpy as np

In [13]:
observations=np.random.rand(4,4)

In [14]:
features=np.array(['F1','F2','F3','F4'])

In [15]:
VIT=pd.DataFrame(observations, features)

In [17]:
print(VIT)

           0         1         2         3
F1  0.154934  0.029086  0.148596  0.388449
F2  0.286659  0.599699  0.765884  0.475284
F3  0.668441  0.753857  0.133783  0.456388
F4  0.897749  0.000823  0.757851  0.799794

# Task 2

In [34]:
df=VIT

In [36]:
df=df.rename(columns={0:'Random Value 1',1:'Random Value 2',2:'Random Value 3',3:'Random Value 4'})

# Task 3 Descriptive Summary

In [37]:
df.sum()

Random Value 1    2.007783
Random Value 2    1.383466
Random Value 3    1.806114
Random Value 4    2.119915
dtype: float64

In [38]:
df.count()

Random Value 1    4
Random Value 2    4
Random Value 3    4
Random Value 4    4
dtype: int64

In [39]:
df.mean()

Random Value 1    0.501946
Random Value 2    0.345866
Random Value 3    0.451529
Random Value 4    0.529979
dtype: float64

In [40]:
df.median()

Random Value 1    0.477550
Random Value 2    0.314393
Random Value 3    0.453224
Random Value 4    0.465836
dtype: float64

In [41]:
df.mode()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.154934        0.000823        0.133783        0.388449
1        0.286659        0.029086        0.148596        0.456388
2        0.668441        0.599699        0.757851        0.475284
3        0.897749        0.753857        0.765884        0.799794

In [42]:
df.std()

Random Value 1    0.342124
Random Value 2    0.387424
Random Value 3    0.358414
Random Value 4    0.183701
dtype: float64

In [43]:
df.min()

Random Value 1    0.154934
Random Value 2    0.000823
Random Value 3    0.133783
Random Value 4    0.388449
dtype: float64

In [44]:
df.max()

Random Value 1    0.897749
Random Value 2    0.753857
Random Value 3    0.765884
Random Value 4    0.799794
dtype: float64

In [45]:
df.abs()

    Random Value 1  Random Value 2  Random Value 3  Random Value 4
F1        0.154934        0.029086        0.148596        0.388449
F2        0.286659        0.599699        0.765884        0.475284
F3        0.668441        0.753857        0.133783        0.456388
F4        0.897749        0.000823        0.757851        0.799794

In [46]:
df.prod()

Random Value 1    0.026652
Random Value 2    0.000011
Random Value 3    0.011539
Random Value 4    0.067391
dtype: float64

In [47]:
df.cumsum()

    Random Value 1  Random Value 2  Random Value 3  Random Value 4
F1        0.154934        0.029086        0.148596        0.388449
F2        0.441593        0.628785        0.914480        0.863733
F3        1.110035        1.382642        1.048263        1.320121
F4        2.007783        1.383466        1.806114        2.119915

In [48]:
df.cumprod()

    Random Value 1  Random Value 2  Random Value 3  Random Value 4
F1        0.154934        0.029086        0.148596        0.388449
F2        0.044413        0.017443        0.113808        0.184624
F3        0.029688        0.013149        0.015226        0.084260
F4        0.026652        0.000011        0.011539        0.067391

In [49]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.501946        0.345866        0.451529        0.529979
std          0.342124        0.387424        0.358414        0.183701
min          0.154934        0.000823        0.133783        0.388449
25%          0.253728        0.022020        0.144893        0.439403
50%          0.477550        0.314393        0.453224        0.465836
75%          0.725768        0.638239        0.759859        0.556412
max          0.897749        0.753857        0.765884        0.799794

# Task 4

In [50]:
df.isnull()

    Random Value 1  Random Value 2  Random Value 3  Random Value 4
F1           False           False           False           False
F2           False           False           False           False
F3           False           False           False           False
F4           False           False           False           False

# Task 5

In [54]:
columns_loc = df.loc[:, ['Random Value 2', 'Random Value 3']]
print("Using .loc:")
print(columns_loc)

Using .loc:
    Random Value 2  Random Value 3
F1        0.029086        0.148596
F2        0.599699        0.765884
F3        0.753857        0.133783
F4        0.000823        0.757851

In [53]:
columns_iloc = df.iloc[:, [1, 2]]
print("\nUsing .iloc:")
print(columns_iloc)

Using .iloc:
    Random Value 2  Random Value 3
F1        0.029086        0.148596
F2        0.599699        0.765884
F3        0.753857        0.133783
F4        0.000823        0.757851