VIT AI ASSIGNMENT 2
MADHAN KUMAR S
20BEC1112
VIT CHENNAI

In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv("./drug200.csv")

In [39]:
data1 = data
data1

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [40]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [45]:
data1['Sex'] = le.fit_transform(data1['Sex'])
data1['BP'] = le.fit_transform(data1['BP'])
data1['Cholesterol'] = le.fit_transform(data1['Cholesterol'])
data1['Drug'] = le.fit_transform(data1['Drug'])

In [46]:
X = data.iloc[:,0:5]

In [47]:
X

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]

In [48]:
Y = data['Drug']
Y

0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int32

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [51]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [62]:
Drug_model = Sequential()

Drug_model.add(Dense(5,activation='relu'))
Drug_model.add(Dense(64,activation='relu'))
Drug_model.add(Dense(128,activation='relu'))
Drug_model.add(Dense(32,activation='relu'))
Drug_model.add(Dense(8,activation='relu'))
Drug_model.add(Dense(1,activation='softmax'))

In [63]:
Drug_model.compile(optimizer='adam', loss='mse')

In [66]:
Drug_model.fit(X_train,Y_train,batch_size=4,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 31/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 32/100
35/35 [==============================] - 0s 1ms/step - loss: 3.1571
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 34/100
35/35 [==============================] - 0s 4ms/step - loss: 3.1571
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 98/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1571
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 3.1571

In [68]:
Y_pred=Drug_model.predict(X_test)

2/2 [==============================] - 0s 8ms/step

In [69]:
comparison = pd.DataFrame(Y_test)

In [72]:
comparison.columns=['Actual Values']
comparison

     Actual Values
95               4
15               0
30               4
158              3
128              0
115              0
69               0
170              4
174              1
45               4
66               1
182              4
165              0
78               1
186              2
177              0
56               2
152              4
82               3
68               0
124              2
16               4
148              4
93               0
65               0
60               0
84               3
67               4
125              0
132              4
9                0
18               3
55               3
75               0
150              1
104              0
135              4
137              1
164              0
76               1
79               4
197              4
38               4
24               0
122              0
195              3
29               0
19               0
143              0
86               4
114              4
173              0
5                4
126              0
117              4
73               0
140              1
98               0
172              0
96               0

In [73]:
comparison['Predicted Values']=Y_pred
comparison

     Actual Values  Predicted Values
95               4               1.0
15               0               1.0
30               4               1.0
158              3               1.0
128              0               1.0
115              0               1.0
69               0               1.0
170              4               1.0
174              1               1.0
45               4               1.0
66               1               1.0
182              4               1.0
165              0               1.0
78               1               1.0
186              2               1.0
177              0               1.0
56               2               1.0
152              4               1.0
82               3               1.0
68               0               1.0
124              2               1.0
16               4               1.0
148              4               1.0
93               0               1.0
65               0               1.0
60               0               1.0
84               3               1.0
67               4               1.0
125              0               1.0
132              4               1.0
9                0               1.0
18               3               1.0
55               3               1.0
75               0               1.0
150              1               1.0
104              0               1.0
135              4               1.0
137              1               1.0
164              0               1.0
76               1               1.0
79               4               1.0
197              4               1.0
38               4               1.0
24               0               1.0
122              0               1.0
195              3               1.0
29               0               1.0
19               0               1.0
143              0               1.0
86               4               1.0
114              4               1.0
173              0               1.0
5                4               1.0
126              0               1.0
117              4               1.0
73               0               1.0
140              1               1.0
98               0               1.0
172              0               1.0
96               0               1.0

In [79]:
#Custom Inputs
# Prepare the custom inputs
custom_inputs = np.array([[16, 0, 0, 0, 0.7]])  # Age, Sex, BP, Cholesterol, Na_to_K

# Make the prediction
predictions = Drug_model.predict(custom_inputs)

# Get the predicted drug class
predicted_class = np.argmax(predictions)

# Decode the predicted class back to the original label
predicted_drug = le.inverse_transform([predicted_class])

print(f"The predicted drug class is: {predicted_drug[0]}")

1/1 [==============================] - 0s 267ms/step
The predicted drug class is: DrugY